<% if logged_in? %>
<h1>Welcome to Heimdall</h1>

<h2>Users</h2>
<ul>
<% slack_users.each do |user| %>
  <li><%= "#{user.name} [#{user.id}]" %></li>
<% end %>
</ul>

<h2>Channels</h2>
<ul>
<% slack_channels.each do |channel| %>
  <li><%= link_to channel.name, channel_path(channel.id) %></li>
<% end %>
</ul>

<%= button_to 'Logout', session_path, method: :delete, class: 'btn btn-link' %>
<%= button_to 'Delete Account', '/', method: :delete, data: { confirm: "Are you sure?", disable_with: "Deleting..." }, class: 'btn btn-link' %>


<% else %>
<%= link_to "Log In", "/auth/slack" %>
<% end %>